<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat+Subrayada:700|Nobile:700|Yeseva+One&display=swap" rel="stylesheet">

    </link>
</head>

<body>
    {{>header}}
    <p>{{message}}</p>
    {{>footer}}
</body>

</html>