<nav>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</nav>
<div class="topContainer"><img src="images/pastel-sky.jpg" />


    <div class="title">
        <h1>{{title}}</h1>
    </div>
</div>